{% extends "layout.html" %} {% block content %}

<body>
    <h1 class="centrado div_ml center_ml">
        Esto es un p &aacute;rrafo de texto

    </h1>
    <hr width=400>
    <p class="mb-0 letraM">Esta página web presenta el trabajo de fin de grado del grado de Ingeniería Informática realizado por Alba Vallejo Urruchi durante el curso 2020/2021.
    </p>
    <div class="text-center">
        <img src="../static/images/red.jpg" class="rounded img_ml" alt="...">
    </div>
</body>
<footer class=" text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Alba Vallejo Urruchi &copy; TFG 2020/2021 Universidad de Salamanca</p>
    </div>
</footer>
{% endblock %}